@tailwind base;
@tailwind components;
@tailwind utilities;


./* global.css */
body {
  
  font-family: "Roboto", sans-serif;
  background-color: #e616b5;
  color: brown;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

